.container {
  display: flex;
  justify-content: space-evenly;
  margin: 10rem 5rem 5rem 5rem;
  flex-wrap: wrap;
  gap: 5rem 5rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  background-color: rgba(178, 224, 211, 0.63);
  border: 0.25px solid rgba(178, 224, 211, 0.63);
  border-radius: 4rem;
  width: 20rem;
  height: 20rem;
  text-decoration: none;
  color: black;
  align-content: center;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  cursor: pointer;
}

.card:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.card-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.card-subtitle {
  font-size: 1rem;
  font-style: italic;
  color: white;
  text-align: center;
  /* height: 100%; */
  padding: 2rem;
  background-color: rgba(108, 153, 149, 0.8);
}
